.wrapper {
  margin-top: -1rem;
  width: 46rem;
  margin: -1rem auto;
}

.newTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.newTask input {
  flex: 1;
  font-size: 1rem;
  color: var(--gray-200);
  padding: 1rem 0 1rem 1rem;
  border: 1px solid var(--gray-700);
  outline: none;
  border-radius: 8px;
  background-color: var(--gray-500);
  line-height: 1.4;
}

.newTask button {
  color: var(--gray-100);
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--BlueDark);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 0.5rem;
  transition: background-color 0.3s;
}

.newTask button:hover {
  background-color: var(--Blue);
}

.container {
  margin-top: 4rem;
}

.containerTasksCreated {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.containerTasksCreated .tasksCreated {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.containerTasksCreated .tasksCreated span:first-child {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--Blue);
}

.containerTasksCreated .tasksCreated span:last-child {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.1875rem;
  justify-content: center;
  background-color: var(--gray-400);
  border-radius: 999px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  /* padding: 0.125rem 0.5rem; */
  color: var(--gray-200);
}

.containerTasksCreated .Taskscompleted {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.containerTasksCreated .Taskscompleted span:first-child {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--purple);
}

.containerTasksCreated .Taskscompleted span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 1.1875rem;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--gray-200);
  /* padding: 0.125rem 0.5rem; */
  background-color: var(--gray-400);
  border-radius: 999px;
  line-height: 15px;
}

.salve1 {
  display: flex;
  align-items: flex-start;
  gap: 3.3rem;
  justify-content: space-between;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.salve1 button:last-child {
  padding-top: 0.1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--gray-200);
  transition: color 0.2s;
}

.salve1 button:last-child:hover {
  color: var(--Danger);
}

.salve1 + .salve1 {
  margin-top: 0.75rem;
}

.salve1 .salve2 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.salve1 .salve2 > div.peido {
  background-color: red;
  /* width: 1.25rem; */
  /* height: 1.25rem; */
  width: 20px;
  height: 20px;
  /* background-color: red; */
}

.salve1 .salve2 p.notCompleted {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 140%;
  word-break: break-all;
}

.salve1 .salve2 p.isCompleted {
  color: var(--gray-100);
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 140%;
  text-decoration: line-through;
  word-break: break-all;
}
